## 1. Hãy kết nối hai bảng trên theo những cách sau:
- Sử dụng tích Decartes.
- Sử dụng JOIN: INNER JOIN, LEFT JOIN, RIGHT JOIN, FULL OUTER JOIN.

In [1]:
import pandas as pd

# Tạo DataFrame cho bảng Student
student_data = {
    "student_id": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    "name": ["Nguyen Minh Hoang", "Tran Thi Lan", "Pham Van Nam", "Le Thanh Huyen", "Vu Quoc Anh",
             "Dang Thuy Linh", "Bui Tien Dung", "Ho Ngoc Mai", "Duong Huu Phuc", "Cao Thi Hanh"],
    "class": ["May Tinh", "Kinh Te", "Toan Tin", "Toan Tin", "May Tinh",
              "May Tinh", "Kinh Te", "Toan Tin", "Kinh Te", "May Tinh"],
    "course_id": [12, 34, 7, 20, 24, 24, 34, 20, 7, 12],
    "score": [6.7, 9.2, 7.9, 7.2, 8.0, 5.5, 9.2, 8.8, 7.2, 7.0]
}
df_student = pd.DataFrame(student_data)

# Tạo DataFrame cho bảng Course
course_data = {
    "id": [12, 34, 26],
    "course_name": ["Giai tich", "Thong ke", "Tin hoc"]
}
df_course = pd.DataFrame(course_data)

In [2]:
# Tích Descartes (Cross Join)
cross_join = df_student.merge(df_course, how='cross')
print("\nTích Descartes (Cross Join):\n", cross_join)

Tích Descartes (Cross Join):
     student_id               name     class  course_id  score  id course_name
0            1  Nguyen Minh Hoang  May Tinh         12    6.7  12   Giai tich
1            1  Nguyen Minh Hoang  May Tinh         12    6.7  34    Thong ke
2            1  Nguyen Minh Hoang  May Tinh         12    6.7  26     Tin hoc
3            2       Tran Thi Lan   Kinh Te         34    9.2  12   Giai tich
4            2       Tran Thi Lan   Kinh Te         34    9.2  34    Thong ke
5            2       Tran Thi Lan   Kinh Te         34    9.2  26     Tin hoc
6            3       Pham Van Nam  Toan Tin          7    7.9  12   Giai tich
7            3       Pham Van Nam  Toan Tin          7    7.9  34    Thong ke
8            3       Pham Van Nam  Toan Tin          7    7.9  26     Tin hoc
9            4     Le Thanh Huyen  Toan Tin         20    7.2  12   Giai tich
10           4     Le Thanh Huyen  Toan Tin         20    7.2  34    Thong ke
11           4     Le Thanh Huyen  Toan Tin         20    7.2  26     Tin hoc
12           5        Vu Quoc Anh  May Tinh         24    8.0  12   Giai tich
13           5        Vu Quoc Anh  May Tinh         24    8.0  34    Thong ke
14           5        Vu Quoc Anh  May Tinh         24    8.0  26     Tin hoc
15           6     Dang Thuy Linh  May Tinh         24    5.5  12   Giai tich
16           6     Dang Thuy Linh  May Tinh         24    5.5  34    Thong ke
17           6     Dang Thuy Linh  May Tinh         24    5.5  26     Tin hoc
18           7      Bui Tien Dung   Kinh Te         34    9.2  12   Giai tich
19           7      Bui Tien Dung   Kinh Te         34    9.2  34    Thong ke
20           7      Bui Tien Dung   Kinh Te         34    9.2  26     Tin hoc
21           8        Ho Ngoc Mai  Toan Tin         20    8.8  12   Giai tich
22           8        Ho Ngoc Mai  Toan Tin         20    8.8  34    Thong ke
23           8        Ho Ngoc Mai  Toan Tin         20    8.8  26     Tin hoc
24           9     Duong Huu Phuc   Kinh Te          7    7.2  12   Giai tich
25           9     Duong Huu Phuc   Kinh Te          7    7.2  34    Thong ke
26           9     Duong Huu Phuc   Kinh Te          7    7.2  26     Tin hoc
27          10       Cao Thi Hanh  May Tinh         12    7.0  12   Giai tich
28          10       Cao Thi Hanh  May Tinh         12    7.0  34    Thong ke
29          10       Cao Thi Hanh  May Tinh         12    7.0  26     Tin hoc

In [3]:
# INNER JOIN
inner_join = df_student.merge(df_course, left_on="course_id", right_on="id", how="inner")
print("\nINNER JOIN:\n", inner_join)

INNER JOIN:
    student_id               name     class  course_id  score  id course_name
0           1  Nguyen Minh Hoang  May Tinh         12    6.7  12   Giai tich
1           2       Tran Thi Lan   Kinh Te         34    9.2  34    Thong ke
2           7      Bui Tien Dung   Kinh Te         34    9.2  34    Thong ke
3          10       Cao Thi Hanh  May Tinh         12    7.0  12   Giai tich

In [4]:
# LEFT JOIN
left_join = df_student.merge(df_course, left_on="course_id", right_on="id", how="left")
print("\nLEFT JOIN:\n", left_join)

LEFT JOIN:
    student_id               name     class  course_id  score    id course_name
0           1  Nguyen Minh Hoang  May Tinh         12    6.7  12.0   Giai tich
1           2       Tran Thi Lan   Kinh Te         34    9.2  34.0    Thong ke
2           3       Pham Van Nam  Toan Tin          7    7.9   NaN         NaN
3           4     Le Thanh Huyen  Toan Tin         20    7.2   NaN         NaN
4           5        Vu Quoc Anh  May Tinh         24    8.0   NaN         NaN
5           6     Dang Thuy Linh  May Tinh         24    5.5   NaN         NaN
6           7      Bui Tien Dung   Kinh Te         34    9.2  34.0    Thong ke
7           8        Ho Ngoc Mai  Toan Tin         20    8.8   NaN         NaN
8           9     Duong Huu Phuc   Kinh Te          7    7.2   NaN         NaN
9          10       Cao Thi Hanh  May Tinh         12    7.0  12.0   Giai tich

In [5]:
# RIGHT JOIN
right_join = df_student.merge(df_course, left_on="course_id", right_on="id", how="right")
print("\nRIGHT JOIN:\n", right_join)

RIGHT JOIN:
    student_id               name     class  course_id  score  id course_name
0         1.0  Nguyen Minh Hoang  May Tinh       12.0    6.7  12   Giai tich
1        10.0       Cao Thi Hanh  May Tinh       12.0    7.0  12   Giai tich
2         2.0       Tran Thi Lan   Kinh Te       34.0    9.2  34    Thong ke
3         7.0      Bui Tien Dung   Kinh Te       34.0    9.2  34    Thong ke
4         NaN                NaN       NaN        NaN    NaN  26     Tin hoc

In [6]:
# FULL OUTER JOIN
full_outer_join = df_student.merge(df_course, left_on="course_id", right_on="id", how="outer")
print("\nFULL OUTER JOIN:\n", full_outer_join)

FULL OUTER JOIN:
     student_id               name     class  course_id  score    id  \
0          3.0       Pham Van Nam  Toan Tin        7.0    7.9   NaN
1          9.0     Duong Huu Phuc   Kinh Te        7.0    7.2   NaN
2          1.0  Nguyen Minh Hoang  May Tinh       12.0    6.7  12.0
3         10.0       Cao Thi Hanh  May Tinh       12.0    7.0  12.0
4          4.0     Le Thanh Huyen  Toan Tin       20.0    7.2   NaN
5          8.0        Ho Ngoc Mai  Toan Tin       20.0    8.8   NaN
6          5.0        Vu Quoc Anh  May Tinh       24.0    8.0   NaN
7          6.0     Dang Thuy Linh  May Tinh       24.0    5.5   NaN
8          NaN                NaN       NaN        NaN    NaN  26.0
9          2.0       Tran Thi Lan   Kinh Te       34.0    9.2  34.0
10         7.0      Bui Tien Dung   Kinh Te       34.0    9.2  34.0

   course_name
0          NaN
1          NaN
2    Giai tich
3    Giai tich
4          NaN
5          NaN
6          NaN
7          NaN
8      Tin hoc
9     Thong ke
10    Thong ke

## 2. Hãy cập nhật những giá trị course_id còn thiếu trong bảng student bằng câu lệnh SQL,trong đó các giá trị được điền là những giá trị nằm trong bảng course và loại bỏ nhữngbản ghi tham gia những môn học không tồn tại bảng course. Sau đó hãy cho biết:
a. Tổng số sinh viên, điểm trung bình của từng lớp.

b. Tổng số sinh viên, điểm trung bình của từng môn học.

c. Phân loại thi đua theo số điểm của từng môn học biết:

i. Điểm TB ≥ 9.0: Xuất sắc.

ii. 6.0 ≤ Điểm TB ≤ 8.9: Tốt.

iii. Điểm TB < 6.0: Kém.v

In [7]:


# a. Tổng số sinh viên, điểm trung bình của từng lớp
class_summary = df_student.groupby("class").agg(
    total_students=("student_id", "count"),
    average_score=("score", "mean")
)
print("\nTổng số sinh viên, điểm trung bình của từng lớp:\n", class_summary)

Tổng số sinh viên, điểm trung bình của từng lớp:
           total_students  average_score
class
Kinh Te                3       8.533333
May Tinh               4       6.800000
Toan Tin               3       7.966667

In [8]:
# b. Tổng số sinh viên, điểm trung bình của từng môn học
course_summary = df_student.merge(df_course, left_on="course_id", right_on="id", how="left").groupby("course_name").agg(
    total_students=("student_id", "count"),
    average_score=("score", "mean")
)
print("\nTổng số sinh viên, điểm trung bình của từng môn học:\n", course_summary)

Tổng số sinh viên, điểm trung bình của từng môn học:
              total_students  average_score
course_name
Giai tich                 2           6.85
Thong ke                  2           9.20

In [9]:
# c. Phân loại thi đua theo số điểm của từng môn học
def classify(score):
    if score >= 9.0:
        return "Xuất sắc"
    elif 6.0 <= score <= 8.9:
        return "Tốt"
    else:
        return "Kém"

course_summary["classification"] = course_summary["average_score"].apply(classify)
print("\nPhân loại thi đua theo số điểm của từng môn học:\n", course_summary)

Phân loại thi đua theo số điểm của từng môn học:
              total_students  average_score classification
course_name
Giai tich                 2           6.85            Tốt
Thong ke                  2           9.20       Xuất sắc

## 3. Hãy xếp hạng sinh viên thông qua:
a. Điểm số.

b. Điểm số theo lớp học.

c. Điểm số theo mã môn học.

và cho biết top 3 sinh viện đạt thứ hạng cao nhất, top 3 sinh viên đạt thứ hạng thấp nhất theo
từng trường hợp trên.

In [22]:
# Xếp hạng sinh viên theo điểm số
df["rank"] = df["score"].rank(method="min", ascending=False)

In [23]:

# Xếp hạng theo lớp học
df["class_rank"] = df.groupby("class")["score"].rank(method="min", ascending=False)

In [24]:

# Xếp hạng theo mã môn học
df["course_rank"] = df.groupby("course_id")["score"].rank(method="min", ascending=False)

In [25]:
# Xuất ra top 3 sinh viên có điểm cao nhất và thấp nhất
top_3 = df.nsmallest(3, "rank")
bottom_3 = df.nlargest(3, "rank")

print("Top 3 sinh viên có điểm cao nhất:")
print(top_3)

print("\nTop 3 sinh viên có điểm thấp nhất:")
print(bottom_3)

Top 3 sinh viên có điểm cao nhất:
   student_id           name     class  course_id  score  rank  class_rank  \
1           2   Tran Thi Lan   Kinh Te         34    9.2   1.0         1.0
6           7  Bui Tien Dung   Kinh Te         34    9.2   1.0         1.0
7           8    Ho Ngoc Mai  Toan Tin         20    8.8   3.0         1.0

   course_rank
1          1.0
6          1.0
7          1.0

Top 3 sinh viên có điểm thấp nhất:
   student_id               name     class  course_id  score  rank  \
5           6     Dang Thuy Linh  May Tinh         24    5.5  10.0
0           1  Nguyen Minh Hoang  May Tinh         12    6.7   9.0
8           9     Duong Huu Phuc   Kinh Te         34    7.0   7.0

   class_rank  course_rank
5         4.0          2.0
0         3.0          2.0
8         3.0          3.0

## 4. Hãy bổ sung thêm một trường graduation_date có kiểu dữ liệu là DATETIME vào bảng student để xác định thời gian tốt nghiệp của từng bạn, trong đó thời gian tốt nghiệp được xác định bởi thời gian hiện tại cộng với số hạng tương ứng của bạn đó tính theo điểm số.

In [ ]:

# Xếp hạng sinh viên theo điểm số
df["rank"] = df["score"].rank(method="min", ascending=False)

# Thêm cột graduation_date dựa vào thứ hạng từ điểm số
from datetime import datetime, timedelta

df["graduation_date"] = df["rank"].apply(lambda r: datetime.now() + timedelta(days=int(r)*30))

# Xếp hạng theo lớp học
df["class_rank"] = df.groupby("class")["score"].rank(method="min", ascending=False)

# Xếp hạng theo mã môn học
df["course_rank"] = df.groupby("course_id")["score"].rank(method="min", ascending=False)

# Xuất ra top 3 sinh viên có điểm cao nhất và thấp nhất
top_3 = df.nsmallest(3, "rank")
bottom_3 = df.nlargest(3, "rank")

print("Top 3 sinh viên có điểm cao nhất:")
print(top_3)

print("\nTop 3 sinh viên có điểm thấp nhất:")
print(bottom_3)

Top 3 sinh viên có điểm cao nhất:
   student_id           name     class  course_id  score  rank  \
1           2   Tran Thi Lan   Kinh Te         34    9.2   1.0
6           7  Bui Tien Dung   Kinh Te         34    9.2   1.0
7           8    Ho Ngoc Mai  Toan Tin         20    8.8   3.0

             graduation_date  class_rank  course_rank
1 2025-04-11 08:46:06.693519         1.0          1.0
6 2025-04-11 08:46:06.693519         1.0          1.0
7 2025-06-10 08:46:06.693519         1.0          1.0

Top 3 sinh viên có điểm thấp nhất:
   student_id               name     class  course_id  score  rank  \
5           6     Dang Thuy Linh  May Tinh         24    5.5  10.0
0           1  Nguyen Minh Hoang  May Tinh         12    6.7   9.0
8           9     Duong Huu Phuc   Kinh Te         34    7.0   7.0

             graduation_date  class_rank  course_rank
5 2026-01-06 08:46:06.693519         4.0          2.0
0 2025-12-07 08:46:06.693519         3.0          2.0
8 2025-10-08 08:46:06.693519         3.0          3.0